/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #ECFDF5;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4, p {
    margin-bottom: 10px;
}

/* Estilo de encabezado */
header {
    background-color: #ECFDF5;
    padding: 20px 0;
    color: #064E3B;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo1 {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%; 
}
.logos a img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%; 
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #064E3B;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Botón de descarga */
.download-app {
    display: flex;
    align-items: center;
}

.download-button {
    background-color: #ECFDF5;
    color: #064E3B;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.download-button:hover {
    background-color: #98b6a8;
}

/* Sección de inicio */
.Inicio-Pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.Parte-1 h1 {
    font-size: 48px;
    color: #064E3B;
}

.Parte-1 p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.5;
    color: #059669;
}

.Parte-1 h4 {
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 20px;
    margin-right: 10px;
    width: 40%;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #65A30D
    
}

.Parte-2 img {
    max-width: 100%;
    height: auto;
}

/* Sección Sobre Nosotros */
.SobreNosotros-section {
    background-color: #ECFDF5; 
    padding: 60px 0; 
    text-align: center;
}

.SobreNosotros-box {
    display: flex; 
    align-items: center;
    background-color: #DCFCE7; 
    border-radius: 12px; 
    padding: 30px; 
    max-width: 1000px; 
    margin: 0 auto; 
    gap: 30px; 
}

.EcoChips-logo {
    width: 200px; 
    height: auto; 
}

.SobreNosotros-text {
    text-align: left; 
}

.SobreNosotros-text h2 {
    color: #064E3B;
    font-size: 2.5rem; 
    margin-bottom: 15px; 
    font-family: 'Arial', sans-serif;
}

.SobreNosotros-text p {
    font-size: 18px; 
    color: #064E3B;
    line-height: 1.7; 
}

.logos-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #ECFDF5;
}

.logos-sociales img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.logos-sociales img:hover {
    transform: scale(1.1);
}

/* Sección principal de tarjetas */
.main-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #c6e7d2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 22px;
    color: #064E3B;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #059669;
}

/* Feedback de usuarios */
.feedback-section {
    background-color: #ECFDF5;
    padding: 50px 0;
    text-align: center;
}

.feedback-section h2 {
    color: #064E3B;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.feedback-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto;
}

.feedback-card {
    display: flex;
    background-color: #DCFCE7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;
    gap: 20px; 
    width: 500px; 
}

.feedback-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px; 
}

.feedback-info {
    flex: 1; 
    text-align: left;
}

.feedback-info p {
    font-size: 16px;
    color: #064E3B;
    margin-bottom: 10px;
    line-height: 1.5;
}

.feedback-info h4 {
    text-align: left; 
    font-size: 18px;
    font-weight: bold;
    color: #064E3B;
    margin-top: 10px;
}


/* Sección de desarrolladores */
.Desarrolladores-section {
    background-color: #ECFDF5;
    padding: 50px 0;
    text-align: center;
}

.Desarrolladores-section h2 {
    color: #064E3B;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
}

.Lista {
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.Columna {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.BoxDesarrolladores {
    display: flex;
    background-color: #DCFCE7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    align-items: center; 
    gap: 20px; 
}

.BoxDesarrolladores img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.Developer-info {
    flex: 1; 
}

.Developer-info h3 {
    color: #064E3B;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center; 
}

.Developer-info p {
    font-size: 14px;
    color: #064E3B;
    line-height: 1.5;
}


/* Footer */
.footer-section {
    background-color: #ECFDF5;
    color: #064E3B;
    padding: 40px ;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.footer-column{
    padding: 60px 
}

.footer-column h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #064E3B;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.subscribe-form input {
    color:#064E3B;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    width: 60%;
}

.subscribe-form button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #ffca28;
    color: #333;
    cursor: pointer;
}

/* Social media icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons img {
    width: 25px; 
    height: 25px; 
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); 
}


/* Estilo de copyright */
.copyright {
    text-align: center;
    padding: 10px 0;
    background-color: #ECFDF5;
    color: #064E3B;
    font-size:14px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #123312; 
    margin: 20px 0; 
}
